.pageContainer {
  display: flex;
  flex-direction: column;
  height: 65vh;
}
    .fire{
        width: 9.2vw;
        max-width: 40px;
        display: inline;
    }
    .text{
      font-weight: 800;
      font-size: 15px;
    }
    .rank{
        font-weight: 800;
        font-size: 15px;
    }
    