.layout {
  padding: 20px 20px;
  height: 100%;
}
.fin p {
  color: #a0a0a0;
}
.box {
  background-color: #ededed;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
}
.others {
  display: flex;
  /* justify-content: space-between; 요소들 사이의 간격을 최대화하여 가로 정렬 */
}

.firstbox,
.secondbox p {
  font-size: 0.7rem;
}

.take1 {
  width: 50%; /* 50%의 너비를 가지도록 설정하여 가로 정렬 */
  margin-top: 0.1rem;
}

.take p {
  font-size: 0.7rem;
}
.dict {
  background-color: #e7ecff;
  border-radius: 20px;
  padding: 3px 15px;
}

.word-meaning {
  white-space: pre-wrap;
  position: relative;
}

.word-meaning-container {
  background-color: #e7ecff;
  border-radius: 20px;
  padding: 10px 15px;
}

.info {
  position: absolute;
  background-color: transparent; /* 배경색을 투명하게 설정 */
  border: none; /* 테두리 제거 */
  top: 0;
  right: 0;
}

.further {
  background-color: transparent;
  border: none;
}

.word-meaning p {
  font-weight: bold;
}
