.social {
  padding: 20px;
}

.stock-item {
  background-color: #e7ecff;
  margin-bottom: 0.7rem;
  padding: 1rem;
}

.keywordtitleInfo {
  
}

a {
  text-decoration: none;
  color: inherit;
}

.stockImg {
  width: 4vh;
  border-radius: 50%;
  height: 4vh;
  margin-right: 0.5rem; /* 이미지와 텍스트 사이의 간격 조정 */
}

.detailtitle {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
}

.stockInfo {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  flex: 1;
}
