.container {
  display: flex;
  align-items: center; /* 수평 가운데 정렬 */
}
.fire {
  width: 2rem;
  max-width: 40px;
  display: inline;
}
.text {
  font-weight: 800;
  font-size: 15px;
  margin-left: 0.15rem;
}
.contentBox {
  align-items: center;
  background-color: #ededed;
  border-radius: 20px; /* 둥근 모서리 설정 */
  border: 1.2vh solid transparent; /* 테두리 설정 */
  font-weight: 700;
  text-align: center;
  margin: 0.5vh 0;
}
.swiper {
  /* height: 7vh; */
  height: 7vh;
}
.slide {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
}
.medal {
  height: 4vh;
}

.textContainer {
  text-align: left;
  flex: 1;
  cursor: pointer;
}
.viewCount {
  font-weight: 300;
  font-size: 14px;
}
.news {
  width: 8vh;
  height: 8vh;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24%;
}
