.layout {
  padding: 0 0;
}
.customTabSelected {
  color: black !important; /* 선택된 탭의 텍스트 색상 */
}
.customTextColor {
  font-size: 15px !important;
  font-family: "Pretendard" !important;
  font-weight: 900 !important;
}
.customTabIndicator {
  background-color: black !important; /* 탭의 아래 indicator 색상 */
}
.container {
  display: flex;
  align-items: center; /* 수평 가운데 정렬 */
}
.chart {
  width: 2rem;
  max-width: 40px;
  display: inline;
}

.keywordpic {
  width: 1.7rem;
  max-width: 40px;
  display: inline;
}
.text {
  font-weight: 800;
  font-size: 15px;
  margin-left: 0.2rem;
}
.keytext {
  font-weight: 800;
  font-size: 15px;
  margin-left: 0.45rem;
}
.contentBox {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 2vh;
  padding-left: 2vh;
}
.keywordRow {
  display: flex;
  margin-left: 0.3rem;
  text-decoration: none;
}
.keywordItem {
  /* width: fit-content !important; */
  /* box-sizing: content-box; */

  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 7px;
  text-align: center;
}

.keywordItem a {
  text-decoration: none; /* 밑줄 제거 */
  background-color: #e7ecff;
  color: black;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 8px 12px;
}

.stockContainer {
  display: flex;
}
.exceptHeart {
  display: flex;
  align-items: center;
  gap: 2vh;
  flex: 1;
  cursor: pointer;
}
.rank {
  font-weight: 800;
  color: #0046ff;
}
.stockImg {
  width: 5vh;
  border-radius: 50%;
  height: 5vh;
}
.stockName {
  font-weight: 900;
}
.heartContainer {
  display: flex;
  align-items: center;
  text-align: end;
  flex: 0;
  width: 10vh;
}
.heart {
  width: 3vh;
  margin: 0px 1vh;
}
.comingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
  .coming{
    width:50%;
  }
  .comingTitle{
    font-size: 1.2rem;
  }
  
  @media screen and (min-width: 600px) {
    .coming {
      width: 9%;
    }
    .comingTitle{
      font-size: 0.8rem;
    }
}